<div class="banner-new d-flex align-items-center justify-content-center mb-3">
  <div class="container m-5">
    <div class="text-center" data-controller="inspiration">
      <h1 class="pb-2" data-inspiration-target="message">What are you grateful for?</h1>
      <button class="btn btn-sm btn-outline-dark" data-action="click->inspiration#cycle">Show another inspiration</button>
    </div>
  </div>
</div>

<div class="container mt-5">
  <%= simple_form_for(@entry) do |f| %>
    <div class="d-flex" data-controller="edit-title">
      <h4 data-edit-title-target="heading">My journal entry</h4>
      <%= f.input :title,
                  label: false,
                  wrapper_html: { class: "me-3" },
                  input_html: { class: "d-none",
                                size: "60",
                                value: "Journal entry",
                                data: {edit_title_target: "form" } } %>
      <p data-edit-title-target="edit" data-action="click->edit-title#displayForm"><i class="fa-solid fa-pen"></i></p>
      <p class="d-none" data-edit-title-target="check" data-action="click->edit-title#hideForm"><i class="fa-solid fa-check"></i></p>
    </div>
    <div class="d-flex mt-4 w-100" data-controller="favourite-address">
      <%= f.input :content,
                  label: false,
                  input_html: { rows: "14", class: "content-box" },
                  wrapper_html: { class: "me-4 flex-grow-1" } %>
      <div class="sidebar">
        <div class="d-flex">
          <%= f.input :photos, as: :file,
                       input_html: { multiple: true },
                       label: "Attach photos to this journal (optional)" %>
        </div>
        <%= f.input :address,
                    label: "Add your location (optional)",
                    input_html: {data: {address_autocomplete_target: "address",
                                        favourite_address_target: "address"}, class: "d-none"},
                    wrapper_html: {data: {controller: "address-autocomplete",
                                          address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]},
                                   class: "mt-5"} %>
        <div class="addresses">
          <% unless @addresses.nil? %>
            <% @addresses.each do |address| %>
              <a href=""
                class="button-17"
                data-favourite-address-target="btn"
                data-action="click->favourite-address#clickHandler"
                data-address="<%= address.address %>"
                data-name="<%= address.name %>">
                <%= address.name %>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <%= f.submit class: "button-74 me-4"%>
      <%= link_to "Cancel", dashboard_path, class: "button-17" %>
    </div>
  <% end %>
</div>
