<div class="banner d-flex align-items-center justify-content-center">
  <div class="container m-5">
    <div class="text-center">
      <% if @entries_on_same_date.any? %>
          <h3><%= @entries_on_same_date.first.date.strftime("%B %d, %Y") %></h3>
      <% end %>
      <h1 class="pb-2 mt-5">My Journal Entries</h1>
      </div>
      <div class="row">
        <div class="col-md-6 text-start">
          <% if @previous_entry %>
            <%= link_to entries_by_date_path(date: @previous_entry.date), id: "button-17" do %>
              <i class="fas fa-arrow-left"></i> Previous
            <% end %>
          <% end %>
        </div>
        <div class="col-md-6 text-end">
          <% if @next_entry %>
            <%= link_to entries_by_date_path(date: @next_entry.date), id: "button-17" do %>
              Next <i class="fas fa-arrow-right"></i>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row" id="entries">
    <% @entries_on_same_date.each do |entry| %>
      <%= render partial: "entries/entry_card", locals: { title: entry.title, date: entry.date, address: entry.address ,content: entry.content, photo: entry.photos.first } %>
      <%# Previous card, now replaced by partial %>
      <!-- <div class="col-lg-6 h-100 mt-4">
        <div class="card mb-3 rounded-5">
          <div class="card-body">
            <h3><%= entry.title %></h3><h6><%= entry.date.strftime("%I:%M%p") %></h6>
            <h6><i class="fa-solid fa-location-dot"></i> <%= entry.address %></h6>
            <p><%= entry.content %></p>
          </div>
        </div>
      </div> -->
    <% end %>
  </div>


  <% if @entries_on_same_date.any? { |entry| entry.photos.present? } %>
    <div class="scroll-container d-flex justify-content-between mb-4">
      <% @entries_on_same_date.each do |entry| %>
        <% if entry.photos.any? %>
          <div class="photo-container">
            <% entry.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: "300", width: "400", crop: :fill %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @markers.size.positive? %>
    <div class="row">
      <div id="map"
        data-controller="map"
        id="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value = "<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  <% end %>

</div>
