<div class="container mt-5">
  <h1>Your Theme History</h1>
  <div class="theme d-flex justify-content-between">
    <div class="flex-grow-1">
      <h2><strong>Current theme:</strong> <%= @current_theme.text %></h2>
      <p class="m-0">This has been your theme since <strong><%= @current_theme.start.strftime("%e %B %Y") %></strong> and there are <strong><%= pluralize(@current_theme.entries.count, 'entry') %></strong> associated with this theme.</p>
    </div>
    <% unless @current_theme.entries.count.zero? %>
      <%= link_to "View Entries", theme_path(@current_theme), class: "btn btn-primary" %>
    <% end %>
  </div>
  <% @themes.each do |theme| %>
    <div class="theme d-flex justify-content-between">
      <div class="flex-grow-1">
        <h2><%= theme.text %></h2>
        <p class="m-0">From <strong><%= theme.start.strftime("%e %B %Y") %></strong> to <strong><%= theme.end.strftime("%e %B %Y") %></strong> with <strong><%= pluralize(theme.entries.count, 'entry') %></strong>.</p>
      </div>
      <% unless theme.entries.count.zero? %>
        <%= link_to "View Entries", theme_path(theme), class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>

</div>
