<div class="container mt-5">
  <h1>Your Theme history</h1>
  <div class="theme">
    <h2>Current theme: <%= @current_theme.text %></h2>
    <p>This has been your theme since <%= @current_theme.start %> and there are <%= pluralize(@current_theme.entries.count, 'entry') %> associated with this theme.</p>
  </div>
  <% @themes.each do |theme| %>
    <div class="theme">
      <h2><%= theme.text %></h2>
      <p>From <%= theme.start %> to <%= theme.end %> with <%= pluralize(theme.entries.count, 'entry') %>.</p>
    </div>
  <% end %>
</div>
