<div class="banner d-flex align-items-center justify-content-center" style="background-color: #9CA891">
  <div class="container m-5">
    <div class="text-center">
      <h1 class="pb-2"><%= @theme.text %></h1>
      <% if @theme.end.nil? %>
        <p>This is your current theme since <%= @theme.start.strftime("%e %B %Y") %>.</p>
      <% else %>
        <p><%= @theme.start.strftime("%e %B %Y") %> to <%= @theme.end.strftime("%e %B %Y") %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="container pb-5 mt-5">
  <h2><%= pluralize(@theme.entries.count, 'entry') %> for this theme</h2>
  <div class="row">
    <% @entries.each do |entry| %>
      <%= render partial: "entries/entry_card", locals: { title: entry.title, date: entry.date, address: entry.address ,content: entry.content, photo: entry.photos.first } %>
    <% end %>
  </div>
</div>
