<% require 'date' %>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to dashboard_path, class: "navbar-brand" do %>
      <h3 class="align-middle">BetterMe</h3>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", dashboard_path, class: "nav-link", id:"button-74" %>
          </li>
          <li class="nav-item">
            <%= link_to "New entry", new_entry_path, class: "nav-link", id:"button-74" %>
          </li>
          <li class="nav-item">
            <%= link_to "Today's Entries", entries_by_date_path(:date => Date.today), class: "nav-link", id:"button-74" %>
          </li>
          <li class="nav-item">
            <%= link_to "Theme history", themes_path, class: "nav-link", id:"button-74" %>
          </li>

          <div class="search-box-container">
            <%= form_with url: search_path, method: :get, class: "d-flex" do %>
              <%= text_field_tag :query,
                    params[:query],
                    class:"form-control",
                    class:"search-bar searchbox",
                    placeholder: "Find an entry:"
                %>
              <%= submit_tag "Search", name: "", class: "button-74-search" %>
            <% end %>
          </div>


          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if @mood.empty? %>
              <%= image_tag "Nomood.png", class: "avatar", alt: "dropdown menu" %>
            <% else %>
              <%= image_tag "#{@mood.first.mood.capitalize}.png", class: "avatar", alt: "dropdown menu" %>
            <% end %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <p class="dropdown-item">Hi <strong><%= current_user.fullname %></strong></p>
              <%= link_to "Edit profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
