<div class="banner d-flex align-items-center">
  <div class="container m-5">
  <h3 id="date"><%= Date.today.strftime("%d-%m-%Y") %></h3>
    <div id="theme" class="d-flex justify-content-center" data-controller="theme">
      <h1 class="pb-2" data-theme-target="themeheader"><%= @user.theme %></h1>
      <%= simple_form_for(@user, html: { class: "d-none", data: {theme_target: "themeform", novalidate: true} }) do |f| %>
        <%= f.input :theme, input_html: { data: {theme_target: "themeinput"}}, label: "Change your theme to something new" %>
        <%= f.submit %>
      <% end %>
      <p data-theme-target="editbutton" data-action="click->theme#displayForm"><i class="fa-solid fa-pen"></i></p>
    </div>
  </div>
</div>
