<div class="banner d-flex align-items-center justify-content-center mb-5 shadow-sm">
  <div class="container m-5">
    <h3><%= Date.today.strftime("%d-%m-%Y") %></h3>
    <div class="d-flex" data-controller="theme">
      <h1 class="pb-2" data-theme-target="themeheader"><%= @current_theme.text %></h1>
      <%= simple_form_for(@theme, html: { class: "d-none", data: {theme_target: "themeform", novalidate: true} }) do |f| %>
        <%= f.input :text, input_html: { data: {theme_target: "themeinput"}}, label: "Change your theme to something new" %>
        <%= f.submit %>
      <% end %>
      <p data-theme-target="editbutton" data-action="click->theme#displayForm"><i class="fa-solid fa-pen"></i></p>
    </div>
  </div>
</div>
