<div id="calendar-dashboard">
  <div class="calendar card">
    <h2 class="text-center">June 2023</h2>
    <hr>
    <div class="days">
      <div class="day">S</div>
      <div class="day">M</div>
      <div class="day">T</div>
      <div class="day">W</div>
      <div class="day">T</div>
      <div class="day">F</div>
      <div class="day">S</div>
    </div>
    <div class="dates">
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date"></div>
      <div class="date <%= @cal_moods[:"1"] %>" id="1">1</div>
      <div class="date <%= @cal_moods[:"2"] %>" id="2">2</div>
      <div class="date <%= @cal_moods[:"3"] %>" id="3">3</div>
      <div class="date <%= @cal_moods[:"4"] %>" id="4">4</div>
      <div class="date <%= @cal_moods[:"5"] %>" id="5">5</div>
      <div class="date <%= @cal_moods[:"6"] %>" id="6">6</div>
      <div class="date <%= @cal_moods[:"7"] %>" id="7">7</div>
      <div class="date <%= @cal_moods[:"8"] %>" id="8">8</div>
      <div class="date <%= @cal_moods[:"9"] %>" id="9">9</div>
      <div class="date <%= @cal_moods[:"10"] %>" id="10">10</div>
      <div class="date <%= @cal_moods[:"11"] %>" id="11">11</div>
      <div class="date <%= @cal_moods[:"12"] %>" id="12">12</div>
      <div class="date <%= @cal_moods[:"13"] %>" id="13">13</div>
      <div class="date <%= @cal_moods[:"14"] %>" id="14">14</div>
      <div class="date <%= @cal_moods[:"15"] %>" id="15">15</div>
      <div class="date <%= @cal_moods[:"16"] %>" id="16">16</div>
      <div class="date <%= @cal_moods[:"17"] %>" id="17">17</div>
      <div class="date <%= @cal_moods[:"18"] %>" id="18">18</div>
      <div class="date <%= @cal_moods[:"19"] %>" id="19">19</div>
      <div class="date <%= @cal_moods[:"20"] %>" id="20">20</div>
      <div class="date <%= @cal_moods[:"21"] %>" id="21">21</div>
      <div class="date <%= @cal_moods[:"22"] %>" id="22">22</div>
      <div class="date <%= @cal_moods[:"23"] %>" id="23">23</div>
      <div class="date <%= @cal_moods[:"24"] %>" id="24">24</div>
      <div class="date <%= @cal_moods[:"25"] %>" id="25">25</div>
      <div class="date <%= @cal_moods[:"26"] %>" id="26">26</div>
      <div class="date <%= @cal_moods[:"27"] %>" id="27">27</div>
      <div class="date <%= @cal_moods[:"28"] %>" id="28">28</div>
      <div class="date <%= @cal_moods[:"29"] %>" id="29">29</div>
      <div class="date <%= @cal_moods[:"30"] %>" id="30">30</div>
    </div>
  </div>
</div>
