<div id="mood" class="card p-4">
  <h3 class="mb-4">How are you feeling today?</h3>
  <div class="d-flex justify-content-between" style="padding-left: 150px;padding-right: 150px;">
    <%= image_tag "Awesome_wt.png", alt: "Awesome", height: 100, data: {action: "click->mood#awesome"} %>
    <%= image_tag "Happy_wt.png", alt: "Happy", height: 100, data: {action: "click->mood#happy"} %>
    <%= image_tag "Okay_wt.png", alt: "Okay", height: 100, data: {action: "click->mood#okay"} %>
    <%= image_tag "Bad_wt.png", alt: "Bad", height: 100, data: {action: "click->mood#bad"} %>
    <%= image_tag "Terrible_wt.png", alt: "Terrible", height: 100, data: {action: "click->mood#terrible"} %>
  </div>
</div>
