<div class="banner d-flex align-items-center justify-content-center mb-3">
  <div class="container m-5">
      <h1 class="pb-2 text-center" data-inspiration-target="message">Edit Profile</h1>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div id="user-info">
    <h2 class="mb-2">User details</h2>
    <div class="section">
      <p class="m-0"><strong>Username:</strong></p>
      <p class="m-0"><%= @user.fullname %></p>
    </div>
  </div>
  <div id="mood-reset">
    <h2 class="mb-2">Mood</h2>
    <div class="section d-flex justify-content-between align-items-center">
      <div>
        <p><strong>You can reset the mood you picked for today</strong></p>
        <% if @mood.empty? %>
          <p class="m-0"><em>You have not picked a mood for today.</em></p>
        <% else %>
          <%= image_tag "#{@mood.first.mood.capitalize}.png", class: "avatar" %>
          <span class="m-0 ms-3"><%= @mood.first.mood.capitalize %></span>
        <% end %>
      </div>
      <% unless @mood.empty? %>
        <%= link_to "Reset mood", reset_mood_path(@mood.first), id: "button-74", style: "height:42px;" %>
      <% end %>
    </div>
  </div>
  <div id="addresses">
    <h2 class="mb-2">Saved Addresses</h2>
    <div class="section">
      <% unless @addresses.empty? %>
        <% @addresses.each do |address| %>
          <div class="d-flex justify-content-between align-items-center mb-2 address-single-line p-2 ps-3">
            <h5 class="m-0"><%= address.name %> : </h5>
            <p class="ms-2 mb-0 flex-grow-1"><%= address.address %></p>
            <%= link_to "Delete", address_path(address), id: "button-74", style: "height: 42px; margin-right:0;", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        <% end %>
      <% end %>
      <div class="address-single-line p-3">
        <h5>Add an address to your Saved Addresses</h5>
        <%= simple_form_for(@address) do |f| %>
          <%= f.input :name, label: false, placeholder: "Name" %>
          <%= f.input :address, label: false, placeholder: "Address", input_html: { rows: "1" } %>
          <%= f.button :submit, id: "button-74" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
